body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
}
p{
    color: dimgray;
}
.highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.exp-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
.exp-area h1{
    text-align: center;
    font-size: 30px;
}
section{
    height: 500px;
    padding-bottom: 50px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, Lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.single-exp{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 55%;
    background-color: white;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, Lightsalmon, tomato);
    border-image-slice: 1;
}
#beginner{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 15px;
}
